/* Petits écrans mobiles (moins de 768px) */
@media screen and (max-width: 767px) {
    .slideContainer {
        margin:0 20px;
        overflow:"hidden";
        padding:2rem 0;
        /*background-color: blue;*/
    }

    .imageCarousel {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .nomJeu {
        font-size: 15px;
    }
}

/* Tablettes (entre 768px et 1280px) */
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .slideContainer {
        margin:0 20px;
        overflow:"hidden";
        padding:2rem 0;
        /*background-color: lightgreen; */
    }

    .imageCarousel {
        width: 90%;
        height: 90%;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .nomJeu {
        font-size: 16.5px;
    }
}

/* Ecrans de bureau (entre 1281px et 2559px) */
@media screen and (min-width: 1281px) and (max-width: 2559px) {
    .slideContainer {
        margin:0 20px;
        overflow:"hidden";
        padding:2rem 0;
        /*background-color: lightcoral; */ 
    }
    
    .imageCarousel {
        width: 90%;
        height: 90%;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .nomJeu {
        font-size: 16.5px;
    }
}

/* Ecrans 1440p et plus (2560px et plus) */
@media screen and (min-width: 2560px) {
    .slideContainer {
        margin:0 20px;
        overflow:"hidden";
        padding:2rem 0;
    }

    .imageCarousel {
        width: 90%;
        height: 90%;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .nomJeu {
        font-size: 18px;
    }
}

.bouton {
    color: white;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
  
.bouton:hover {
    background-color: #403a39;
}

.carouselDisplayGrid {
    display: grid;
    margin: 0 auto; /* Centre le carousel dans le conteneur parent */
    max-width: 100%; /* Limite la largeur au conteneur */
    padding: 0 10px; /* Optionnel : Ajoute du padding si nécessaire */
}

.lienJeu {
    color: inherit;
    text-decoration: none;
}